<ion-content>


  <ion-slides class="mainSlide" #Slideprincipal>
    
    <ion-slide>

      <form (ngSubmit)="login(flogin)" #flogin="ngForm">
        <ion-grid fixed>

          <ion-row>
            <ion-col>
              <img src="../../assets/logo.png">
            </ion-col>
          </ion-row>
        
          <ion-row>
            <ion-col>
              
                <ion-list>
                  
                  <ion-item >
                    <!-- <ion-label>Email</ion-label> --> 
                    
                  
                    <ion-input name="email"
                                type="email"
                                class="back-verde FuentePrincipal"
                                [(ngModel)]="loginUser.email"
                                
                                required>
                                <ion-icon name="mail" slot="start" class="verde-claro icon-large espaciado"></ion-icon>
                              </ion-input>
                  </ion-item>

                  <ion-item>
                    <!--<ion-label>Password</ion-label> -->
                    
                    <ion-input name="password"
                                type="password"
                                [(ngModel)]="loginUser.password"
                                class="back-verde FuentePrincipal"
                                required>
                                <ion-icon name="key" slot="start" class="verde-claro icon-large espaciado"></ion-icon></ion-input>
                  </ion-item>

                </ion-list>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-button type="submit"
                          color="primary"
                        class="FuentePrincipal"
                          shape="round">
                Ingresar
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button shape="none"
                          expand="full"
                          size="small"
                          fill="outline"
                          color="primary"
                          class="FuentePrincipal"
                          (click)="mostrarRegistro()">
                Registrarme
              </ion-button>
            </ion-col>
          </ion-row>

        </ion-grid>
      </form>
    


    </ion-slide>

    <ion-slide>

      
      <ion-grid fixed>


<!-- avatar selector-->

<!-- El event emmitter emite un evento que tira como string el avatar, lo que hago aca es
meter el contenido en la variable del js que controla la pagina
<app-avatar-selector (avatarSeleccionado)="registerUser.avatar=$event"></app-avatar-selector>
-->


        <!-- 
            <ion-row>
            <ion-col>
                <h3>Seleccione Avatar</h3>
            </ion-col>
            </ion-row>

            <ion-row>
            <ion-col>
                <ion-slides [options]="avatarSlide">
                <ion-slide *ngFor="let avatar of avatars">
                    <ion-img class="pick-avatar" 
                            src="../../../assets/assets/avatars/{{avatar.img}}" 
                            [ngClass]="{'pick-avatar-seleccionado': avatar.seleccionado}"
                            (click)="seleccionarAvatar(avatar)"></ion-img>
                </ion-slide>
                </ion-slides>
            </ion-col>
            </ion-row>-->
            
            <form (ngSubmit)="registro(fregistro)" #fregistro="ngForm">
              <h3 class="FuentePrincipal">Nuevo usuario</h3>
                <ion-row>
                    <ion-col>
                      <img src="../../assets/logo.png">
                    </ion-col>
                  </ion-row>
                <ion-row>
                    <ion-col>
                        
                        <ion-list>
                            
                            <ion-item>            
                            <ion-input name="email" 
                                        type="email"
                                        class="back-verde FuentePrincipal"
                                        [(ngModel)]="registerUser.email"
                                        required>
                                        <ion-icon name="mail" slot="start" class="verde-claro icon-large espaciado"></ion-icon>
                                      </ion-input>
                            </ion-item>

                            <ion-item>
                            
                            <ion-input name="nombre"
                                        type="text"
                                        class="back-verde FuentePrincipal"
                                        [(ngModel)]="registerUser.nombre"
                                        required>
                                        <ion-icon name="contact" slot="start" class="verde-claro icon-large espaciado"></ion-icon></ion-input>
                            </ion-item>

                            <ion-item>                         
                            <ion-input name="password"
                                        type="password"
                                        class="back-verde"
                                        [(ngModel)]="registerUser.password"
                                        required>
                                        <ion-icon name="key" slot="start" class="verde-claro icon-large espaciado"></ion-icon></ion-input>
                            </ion-item>

                            <ion-item>
                              
                              <ion-input name="direccion"
                                          type="text"
                                          class="back-verde FuentePrincipal"
                                          [(ngModel)]="registerUser.direccion"
                                          required>
                                          <ion-icon name="home" slot="start" class="verde-claro icon-large espaciado"></ion-icon></ion-input>
                              </ion-item>

                        </ion-list>
                    </ion-col>
                </ion-row>
                
                <ion-row>
                <ion-col>
                    <ion-button type="submit"
                                color="primary"
                                shape="round"
                                class="FuentePrincipal">
                        Crear usuario
                    </ion-button>
                </ion-col>
               
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-button shape="none"
                            expand="full"
                            size="small"
                            fill="outline"
                            color="primary"
                            class="FuentePrincipal"
                            (click)="mostrarLogin()">
                  Ingresar
                </ion-button>
            </ion-col>
            </ion-row>
            
            </form>
        </ion-grid>
  
  
      </ion-slide>


  </ion-slides>



</ion-content>


<ion-footer no-border>

  <!-- 

  <ion-toolbar>    
    <ion-row>

      <ion-col>
          <ion-button shape="round"
                      expand="full"
                      size="small"
                      fill="outline"
                      color="tertiary"
                      (click)="mostrarLogin()">
            Ingresar
          </ion-button>
      </ion-col>

      <ion-col>
        <ion-button shape="round"
                    expand="full"
                    size="small"
                    fill="outline"
                    color="tertiary"
                    (click)="mostrarRegistro()">
          Registrarme
        </ion-button>
      </ion-col>

    </ion-row>



  </ion-toolbar>

  -->

</ion-footer>