<ion-header no-border text-center  >
  <ion-toolbar color="primary " >
      <h1 class="espaciado verde-claro FuentePrincipal " >Actualizar perfil</h1>
    <ion-buttons slot="end" >
      <ion-button (click)="logout()"
                 class="verde-oscuro">
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary-contrast">

  <ion-row class="top-20">
    <ion-col size="12" text-center>
      <ion-label>
          <img src="../../assets/logo.png"> 
        
       
      </ion-label>
    </ion-col>
  </ion-row>


  <form (ngSubmit)="actualizar(factualizar)" #factualizar>
      <ion-row>
        <ion-col>
          
            <ion-list lines='none' class="back-verde-claro">
              
              <ion-item color="secondary-contrast">
                              <ion-input name="email"
                           type="email"
                           [(ngModel)]="usuario.email"
                           class="back-verde FuentePrincipal"
                           color="secondary-contrast"
                           required>
                           <ion-icon name="mail" slot="start" class="verde-claro icon-large espaciado"></ion-icon></ion-input>
              </ion-item>

              <ion-item  color="secondary-contrast">      
                <ion-input name="nombre"
                           type="text"
                           [(ngModel)]="usuario.nombre"
                           class="back-verde FuentePrincipal"
                           color="secondary-contrast"
                           required>
                           <ion-icon name="contact" slot="start" class="verde-claro icon-large espaciado"></ion-icon></ion-input>
              </ion-item>

              <ion-item  color="secondary-contrast">               
                <ion-input name="direccion"
                           type="text"
                           [(ngModel)]="usuario.direccion"
                           class="back-verde FuentePrincipal"
                           color="secondary-contrast"
                           required>
                           <ion-icon name="home" slot="start" class="verde-claro icon-large espaciado"></ion-icon></ion-input>
              </ion-item>
              <ion-item  color="secondary-contrast">
              <ion-label class="FuentePrincipal" color="secondary">Vencimiento C/Salud: </ion-label>
               <ion-datetime displayFormat="DD / MM/ YYYY" value="{{usuario.carnesalud}}" class="verde-claro FuentePrincipal"></ion-datetime>
              </ion-item>
              <ion-item>
                
                <ion-input name="carnesalud"
                           type="date"
                           [(ngModel)]="usuario.carnesalud"
                           class="back-verde"
                           required>
                           <ion-icon name="medkit" slot="start" class="verde-claro icon-large espaciado"></ion-icon></ion-input>
              </ion-item>


            </ion-list>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col text-center>
          <ion-button type="submit"
                      [disabled]="loading"
                      color="secondary"
                      class="FuentePrincipal"
                      shape="round">
                      <i [ngClass]="{'fa-save': !loading, 'fa-refresh fa-spin': loading }"
                      class="fa espaciado verde-oscuro">  </i>
                      <span *ngIf="!loading" class="verde-oscuro FuentePrincipal">  Actualizar </span>
                      <span *ngIf="loading" class="verde-oscuro FuentePrincipal">  Actualizando...</span> 
        </ion-button>
      </ion-col>
    </ion-row>
    
  </form>


</ion-content>
